<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fator.nome %>
</p>

<%= link_to 'Edit', edit_fator_path(@fator) %> |
<%= link_to 'Back', fators_path %>|
<%= link_to 'Novo Fator', new_fator_path %>