
<% if current_user && current_user.admin %>
<h1>Relatórios</h1>

<table>
  <thead>
    <tr>
      <th>Diagnóstico</th>
      <th>Fator</th>
      <th>Característica</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relatorios.each do |relatorio| %>
      <tr>
        <td><%= relatorio.diagnostico.nome %></td>
        <td><%= relatorio.fator.nome %></td>
        <td><%= relatorio.caracteristica.nome %></td>
        <td><%= link_to 'Ver', relatorio %></td>
        <td><%= link_to 'Editar', edit_relatorio_path(relatorio) %></td>
        <td><%= link_to 'Apagar', relatorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Relatório', new_relatorio_path, class: "btn-large blue" %>
<br><br>
<% else %>
<h1>Acesso não autorizado</h1>
<% end %>