<h1>Características</h1>

<h2><% current_user.admin %></h2>
  <%= form_tag(caracteristicas_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar Características", id:"tags" %>
  <%= submit_tag "Buscar Características",:class => "btn-large blue" %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristicas.each do |caracteristica| %>
      <tr>
        <td class="nomes"><%= caracteristica.nome %></td>
        <td><%= link_to 'Ver Característica', busca_caracteristica_path(:id => caracteristica) %></td>
       <% if current_user && current_user.admin %>
        <td><%= link_to 'Ver', caracteristica %></td>
        <td><%= link_to 'Editar', edit_caracteristica_path(caracteristica) %></td>
        <td><%= link_to 'Apagar', caracteristica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                                                  <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.admin %>
                                      
<%= link_to 'Nova Característica', new_caracteristica_path, class: "btn-large blue" %>
<br><br>
<% end %>

<script>
  
  
jQuery(function() {
var m = [""];
var classe = document.getElementsByClassName("nomes");
for (var i = 0; i < classe.length; i++) {
            m.push(classe[i].innerText);
 }
 $( "#tags" ).autocomplete({
      source: m
    });
});
  
</script>